# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/xamp_base/xamp_base.vcxproj.user
/src/xamp_metadata/x64
/src/xamp_base/x64
/src/xamp_player/x64
/src/xamp_player/xamp_player.vcxproj.user
/src/xamp_stream/x64
/src/xamp/xamp.vcxproj.filters
/src/xamp/xamp.vcxproj.user
/src/xamp/x64
/src/xamp/GeneratedFiles
/src/xamp/caches
/src/xamp/.vs/xamp/v16
/src/xamp_output_device/x64
/src/xamp_output_device/xamp_output_device.vcxproj.user
/src/xamp/xamp.db
