*.o
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.qmake.stash

/Cache/

/src/xamp/build/
/src/xamp/.vscode/

/src/widget_shared/build/

/src/thirdparty/

/src/xamp/xamp2.pro.user

/src/xamp_base/build/
/src/xamp_base/debug/
/src/xamp_base/CMakeLists.txt.user

/src/xamp_metadata/build/
/src/xamp_metadata/debug/
/src/xamp_metadata/CMakeLists.txt.user

/src/xamp_output_device/build/
/src/xamp_output_device/debug/
/src/xamp_output_device/CMakeLists.txt.user

/src/xamp_player/build/
/src/xamp_player/debug/
/src/xamp_player/CMakeLists.txt.user

/src/xamp_stream/build/
/src/xamp_stream/debug/
/src/xamp_stream/CMakeLists.txt.user
